<html>
	<head>
		<meta charset="UTF-8"/>
		<style>
			body { font-family: "Segoe UI", sans-serif; }
		</style>
	</head>
<body>

<img src="logo_chiesa.png" />&nbsp;<b>Parrocchia di Stra - Festa della comunità {{ordine.data.strftime("%Y")}}</b><br>
<table width='100%' border='0' cellspacing='0'>
	<tr>
		<td width="15%" rowspan="2" align="center" valign="top">
			<font size='2'>Ordine</font><br /><font size='5'>{{ordine.progressivo}}</font>
		</td>
		<td width="25%">
			{{ordine.cassa}}
		</td>
		<td>
			{{ordine.data.strftime("%a %d %B")}} - {{ordine.ora.strftime("%H:%M:%S")}}
		</td>
		{% if ordine.coperti %}
			<td width="15%" rowspan="2" align="center" valign="top">
				<font size='2'>Tavolo</font><br /><font size='5'>{{ordine.numeroTavolo}}</font>
			</td>
		{% endif %}
	</tr>
	<tr>
		<td>
			{% if ordine.esportazione %}
				ASPORTO
			{% else %}
				{% if ordine.coperti %}
					COPERTI: {{ ordine.coperti }}
				{% else %}
					AGGIUNTA
				{% endif %}
			{% endif %}
		</td>
		<td>
			Cliente: {{ordine.cliente}}
		</td>
	</tr>
	<tr>
		<td align="center">
			(ID: {{ordine.id}})
		</td>
		<td colspan="2">
			{% if not ordine.esportazione %}
				Cameriere:
			{% endif %}
		</td>
	</tr>
</table>

<table width='100%' border='0' cellpadding='3'>
	{% set ns = namespace(tipologia = 'null') %}
	{% set i = 1 %}
	{% for riga_ordine in ordine.righe_copia_bar %}
		{% if ns.tipologia != riga_ordine.desc_tipologia %}
			<tr bgcolor="#CCCCCC">
				<td colspan='3'><b>{{riga_ordine.desc_tipologia}}</b></td>
			</tr>
			{% set ns.tipologia = riga_ordine.desc_tipologia %}
			{% set i = i + 1 %}
		{% endif %}
		<tr>
			<td align='center'>{{riga_ordine.quantita}}</td>
			<td>{{riga_ordine.descrizione}}{% if riga_ordine.note %}&nbsp;→&nbsp;<i>{{riga_ordine.note}}</i>{% endif %}</td>
			<td align='right'>&euro;&nbsp;{{riga_ordine.prezzo_totale}}</td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
	{% set totcucina = 0 %}
	{% for riga_cucina in ordine.righe_copia_cucina %}
		{% set totcucina = totcucina + riga_cucina.prezzo_totale %}
	{% endfor %}
	<tr bgcolor="#CCCCCC">
		<td colspan='3'></td>
	</tr>
	{% if totcucina > 0 %}
		<tr>
			<td></td>
			<td>TOTALE CUCINA</td>
			<td align='right'>&euro;&nbsp;{{totcucina}}</td>
		</tr>
		{% set i = i + 1 %}
	{% endif %}
	<tr>
		<td></td>
		<td>TOTALE</td>
		<td align='right'>&euro;&nbsp;{{ ordine.totale }}</td>
	</tr>
</table>

<br /><br />
<table width="100%">
	<tr>
		<td valign='top'>
			{% if ordine.note %}
				<b>Note:</b> <i>{{ordine.note}}</i><br>
			{% endif %}
		</td>
		<td width='30%'>
			<table border='0' cellpadding='3'>
				{% for x in range(i, 20) %}
					<tr><td>&nbsp;</td></tr>
				{% endfor %}
			</table>
			<img src="bibita.png" />
		</td>
	</tr>
</table>
</body>
</html>
