<html>
	<head>
		<meta charset="UTF-8"/>
		<style>
			body { font-family: "Segoe UI", sans-serif; }
		</style>
	</head>
<body>

<img src="logo_chiesa.png" />&nbsp;<b>Parrocchia di Stra - Festa della comunità {{ordine.data.strftime("%Y")}}</b><br>
<table width='100%' border='0' cellspacing='0'>
	<tr>
		<td width="15%" rowspan="2" align="center" avalign="top">
			<font size='2'>Ordine</font><br /><font size='5'>{{ordine.progressivo}}</font>
		</td>
		<td width="25%">
			{{ordine.cassa}}
		</td>
		<td>
			{{ordine.data.strftime("%a %d %B")}} - {{ordine.ora.strftime("%H:%M:%S")}}
		</td>
	</tr>
	<tr>
		<td>
			{% if ordine.esportazione %}
				ASPORTO
			{% else %}
				{% if ordine.coperti %}
					COPERTI: {{ordine.coperti}}
				{% else %}
					AGGIUNTA
				{% endif %}
			{% endif %}
		</td>
		<td>
			Cliente: {{ordine.cliente}}
		</td>
	</tr>
	<tr>
		<td align="center">
			(ID: {{ordine.id}})
		</td>
		<td colspan="2">
			{% if not ordine.esportazione %}
				Cameriere:
			{% endif %}
		</td>
	</tr>
</table>

<table width='100%' border='0' cellpadding='2'>
	{% set ns = namespace(tipologia = 'null') %}
	{% for riga_ordine in ordine.righe_copia_cliente %}
		{% if ns.tipologia != riga_ordine.desc_tipologia %}
			<tr bgcolor="#CCCCCC">
				<td colspan='3'></td>
			</tr>
			{% set ns.tipologia = riga_ordine.desc_tipologia %}
		{% endif %}
		<tr>
			<td align='center'>{{riga_ordine.quantita}}</td>
			<td>{{riga_ordine.descrizione}}{% if riga_ordine.note %}&nbsp;→&nbsp;<i>{{riga_ordine.note}}</i>{% endif %}</td>
			<td align='right'>&euro;&nbsp;{{riga_ordine.prezzo_totale}}</td>
		</tr>
	{% endfor %}
	<tr bgcolor="#CCCCCC">
		<td colspan='3'></td>
	</tr>
	<tr>
		<td></td>
		<td>TOTALE</td>
		<td align='right'>&euro;&nbsp;{{ordine.totale}}</td>
	</tr>
</table>

<br /><br />
<table width="100%" cellpadding='0' cellspacing='0'>
	<tr valign='bottom'>
		<td valign='bottom'>
			{% if ordine.note %}
				<b>Note:</b> <i>{{ordine.note}}</i><br>
			{% endif %}
			<small>www.parrocchiadistra.it</small>
		</td>
		<td width='40%' align='right' valign='bottom'>
			<font size='4'><i><b>Buon appetito!</b></i></font>
		</td>
	</tr>
</table>
<br>
</body>
</html>
